<div class="center_content">
    <div class="maintext">
        <h1>Тренування м'язів всього тіла</h1>
        <p>Дана програма тренувань допоможе прокачати всі групи м'язів. Вона стане чудовим помічником для тих у кого
            бракує часу або бажання для опрацювання кожної групи окремо, так як вона задіює усі види. А виглядає
            тренування ось як:</p>
        <h3>Вправа 1</h3>
        <div class="exercise">
            <ol>
                <li> Станьте прямо.</li>
                <li> Розведіть ноги якомога ширше.</li>
                <li> Руки зведіть перед собою.</li>
                <li> Виконайте присідання.</li>
                <li> Поверніться вправо, розвертаючи ліву ногу.</li>
                <li> Виконайте присідання.</li>
                <li> Поверніться вліво, розвертаючи праву сторону.</li>
            </ol>
            <img class="gif" src="../static/img/exercise1.gif" alt="вправа 1">
        </div>
        <h3>Вправа 2</h3>
        <div class="exercise_rev exercise">
            <ol>
                <li> Станьте в позицію планки на передпліччях.</li>
                <li> Підійміть вгору ліву ногу.</li>
                <li> Поверніться у початкове положення.</li>
                <li> Підійміть вгору праву ногу.</li>
                <li> Поверніться у початкове положення.</li>
            </ol>
            <img class="gif" src="../static/img/exercise2.gif" alt="вправа 2">
        </div>
        <h3>Вправа 3</h3>
        <div class="exercise">
            <ol>
                <li> Ляжте на підлогу.</li>
                <li> Зігніть ноги.</li>
                <li> Руки простягніть вздовж тіла.</li>
                <li> Підійміть таз вгору.</li>
                <li> Опустіть таз дещо вниз.</li>
                <li> Підійміть таз вгору.</li>
                <li> Розведіть та зведіть коліна.</li>
                <li> Опустіть таз трішки нижче.</li>
            </ol>
            <img class="gif" src="../static/img/exercise3.gif" alt="вправа 3">
        </div>
        <h3>Вправа 4</h3>
        <div class="exercise_rev exercise">
            <ol>
                <li> Ляжте на підлогу.</li>
                <li> Руки заведіть за голову та підійміть над підлогою.</li>
                <li> Випряміть ноги та підійміть під кутом 45 градусів.</li>
                <li> Підійміть ноги до кута 90 градусів.</li>
                <li> Опустіть ноги до кута 45 градусів.</li>
            </ol>
            <img class="gif" src="../static/img/exercise4.gif" alt="вправа 4">
        </div>
        <h3>Вправа 5</h3>
        <div class="exercise">
            <ol>
                <li> Зіпріться на руки та підійміть сідниці над підлогою.</li>
                <li> Виведіть корпус вперед до тих пір, поки між стопами та сідницями не утвориться кут 90 градусів.
                </li>
                <li> Поверніться у початкове положення.</li>
            </ol>
            <img class="gif" src="../static/img/exercise5.gif" alt="вправа 5">
        </div>
        <h3>Вправа 6</h3>
        <div class="exercise_rev exercise">
            <ol>
                <li> Ляжте на підлогу.</li>
                <li> Руки заведіть за голову.</li>
                <li> Ноги підійміть під кутом 45 градусів.</li>
                <li> Зігніть праву ногу.</li>
                <li> Зігніть праву ногу.</li>
                <li> Зігніть ліву ногу.</li>
                <li> Поверніть верхню частину тіла вліво, торкаючись правим ліктем лівого коліна.</li>
            </ol>
            <img class="gif" src="../static/img/exercise6.gif" alt="вправа 6">
        </div>
        <h3>Вправа 7</h3>
        <div class="exercise">
            <ol>
                <li> Станьте на коліна.</li>
                <li> Руки поставте під плечима.</li>
                <li> Випряміть праву ногу та заведіть її вправо.</li>
                <li> Заведіть праву ногу вліво.</li>
                <li> Під час наступного підходу виконайте вправу на ліву ногу.</li>
            </ol>
            <img class="gif" src="../static/img/exercise7.gif" alt="вправа 7">
        </div>
        <h3>Вправа 8</h3>
        <div class="exercise_rev exercise">
            <ol>
                <li> Станьте в позицію планки на витягнутих руках.</li>
                <li> Опустіть коліна на підлогу.</li>
                <li> Виконайте відтискання.</li>
                <li> Випряміть ноги, підіймаючи сідниці вверх.</li>
                <li> Прогніться.</li>
                <li> Поверніться в позицію планки.</li>
            </ol>
            <img class="gif" src="../static/img/exercise8.gif" alt="вправа 8">
        </div>
        <h3>Вправа 9</h3>
        <div class="exercise">
            <ol>
                <li> Сядьте на підлогу.</li>
                <li> Ноги розведіть якомога ширше, зігнувши їх.</li>
                <li> Стопи поставте на п'яти.</li>
                <li> Руки заведіть за голову.</li>
                <li> Підійміть праву ногу над підлогою.</li>
                <li> Розверніть верхню частину тіла вправо, торкаючись лівим ліктем правого коліна.</li>
                <li> Ще раз поверніться вправо, але торкаючись лівою рукою правої стопи.</li>
                <li> Підійміть ліву ногу над підлогою.</li>
                <li> Розверніть верхню частину тіла вліво, торкаючись правим ліктем лівого коліна.</li>
                <li> Ще раз поверніться вліво, але торкаючись правою рукою лівої стопи.</li>
            </ol>
            <img class="gif" src="../static/img/exercise9.gif" alt="вправа 9">
        </div>
        <h3>Вправа 10</h3>
        <div class="exercise_rev exercise">
            <ol>
                <li> Станьте прямо.</li>
                <li> Виконайте випад назад лівою ногою.</li>
                <li> Підійміть ліву ногу над підлогою.</li>
                <li> Опустіться у випад.</li>
                <li> Поверніться у початкове положення.</li>
                <li> Повторіть вправу на праву ногу.</li>
            </ol>
            <img class="gif" src="../static/img/exercise10.gif" alt="вправа 10">
        </div>
        <h3>Вправа 11</h3>
        <div class="exercise">
            <ol>
                <li> Станьте в позицію планки на прямих руках.</li>
                <li> Зігніть праве коліно, підіймаючи стопу вліво.</li>
                <li> Торкніться правого коліна лівою рукою.</li>
                <li> Зігніть ліве коліно, підіймаючи стопу вправо.</li>
                <li> Торкніться лівого коліна правою рукою.</li>
                <li> Підійміть ліву долоню, торкаючись правого плеча.</li>
                <li> Підійміть праву долоню, торкаючись лівого плеча.</li>
            </ol>
            <img class="gif" src="../static/img/exercise11.gif" alt="вправа 11">
        </div>
        <h3>Вправа 12</h3>
        <div class="exercise_rev exercise">
            <ol>
                <li> Ляжте на підлогу.</li>
                <li> Підійміть ноги над підлогою, утворюючи кут 90 градусів між стопою та стегном.</li>
                <li> Розведіть коліна, підійміть верхню частину тіла над підлогою та випряміть руки перед собою.
                </li>
                <li> Поверніться у початкове положення.</li>
            </ol>
            <img class="gif" src="../static/img/exercise12.gif" alt="вправа 12">
        </div>
        <h3>Вправа 13</h3>
        <div class="exercise">
            <ol>
                <li> Станьте прямо.</li>
                <li> Розведіть ноги на ширину плечей.</li>
                <li> Опустіть верхню частину тіла так, щоб вона була паралельна підлозі.</li>
                <li> Поверніться у початкове положення.</li>
                <li> Виконайте присідання.</li>
            </ol>
            <img class="gif" src="../static/img/exercise13.gif" alt="вправа 13">
        </div>
    </div>
</div>