<div class="center_content">
    <div class="maintext">
        <img class="img" src="../static/img/arms.png">
        <h1>Тренування м'язів рук</h1>
        <p>Нижче представлені найпопулярніші і ефективні вправи для рук в домашніх умовах або в залі.
            Дані вправи є вправи універсальними, тому підійдуть як для жінок, так і для чоловіків. Ви зможете
            пропрацювати всі основні м’язові групи рук: біцепси, трицепси, дельти (плечі).<br>Для тренування рук в
            домашніх умовах вам знадобляться тільки гантелі. А для виконання деяких вправ взагалі не будуть потрібні
            додатковий інвентар.<br>
            Програма тренувань:
            <ol class="marked">
                <li> <b>Розведення гантелей через сторони</b><br>Встаньте рівно і візьміть в руки гантелі. Верхні
                    кінцівки повинні бути трохи зігнутими, виключаючи тим самим надлишкове навантаження на ліктьовий
                    суглоб. Акуратно піднімайте гантелі через сторони, відчуваючи напругу в плечах. Підйом здійснюється
                    строго до Т-образної пози. Якщо піднімати руки вище паралелі статі, то ви підключите трапеції, що є
                    небажаним.<br>Скільки виконувати: 10-15 повторень (регулюйте кількість повторень в залежності від
                    ваги гантелей).</li>
                <li> <b>Розгинання рук через голову</b><br>Обхватіть гриф снаряда обома руками, після чого підніміть їх
                    над головою . Далі опустіть вагу за голову, згинаючи кінцівки до прямого кута в лікті. На видиху
                    розгинайте руки, піднімаючи гантель над собою. Не допускайте повного закриття ліктьового суглоба при
                    випрямленні рук, щоб уникнути надмірного навантаження на нього. Працюйте в середньому
                    темпі.<br>Скільки виконувати: 10-15 повторень.</li>
                <li> <b>Жим гантелей стоячи</b><br>Взявши снаряди, підійміть їх так, щоб передпліччя виявилися
                    перпендикулярні підлозі. З зусиллям вичавлювати вагу над собою, при цьому не допускаючи повного
                    замикання ліктьового суглоба. Дотримуючись цього правила, ви знижуєте ризики травмування ліктя.
                    Після цього неспішно опускайте вагу в стартову фазу і починайте чергове повторення.<br>Скільки
                    виконувати: 10-15 повторень.</li>
                <li> <b>Підйом на біцепс з супінацією</b><br>Візьміть гантелі, руки опустіть вздовж тіла. Після цього без
                    ривків піднімайте вагу так, щоб гантелі виявилися на рівні плечей. Підйоми рук йдуть за рахунок
                    супинации (обертання) передпліччя в ліктьовому суглобі. Покладайтеся виключно на силу біцепсів,
                    виключаючи допоміжні гойдання корпусом. Після цього повільно опустите снаряди в вихідну
                    позицію.<br>Скільки виконувати: 10-15 повторень.</li>
                <li> <b>Горизонтальне розведення</b><br>Підніміть вагу і випрямити руки перед собою. Гантелі необхідно
                    утримувати паралельно один одному. Почніть розводити руки в сторони, приймаючи Т-образне положення в
                    кінці руху. На видиху зведіть їх назад. В ході всього повторення верхні кінцівки повинні перебувати
                    паралельно підлозі. Чи не випрямляйте руки повністю, утримуючи їх в невеликому вигині в
                    лікті.<br>Скільки виконувати: 10-15 повторень.</li>
                <li> <b>Тяга гантелей до підборіддя</b><br>У стартовій фазі вага утримується перед собою на стегнах.
                    Починаючи рух, утримуйте лікті строго вгору. Самі снаряди рухаються уздовж тулуба, як по
                    направляючої осі. Підйом здійснюється до рівня ключиць, занадто високо піднімати вагу не потрібно.
                    Зробивши маленьку паузу, неспішно опустіть гантелі в вихідну позицію, після чого приступайте до
                    чергового повтору.<br>Скільки виконувати: 10-15 повторень.</li>
                <li> <b>Віджимання від лави</b><br>В цілому техніка вправи схожа зі звичайними віджиманнями. Єдина
                    відмінність криється в площі опори. В даному випадку долоні впираються в поверхню лави або стільця
                    (можна навіть використовувати диван), а тіло знаходиться під кутом. Завдяки специфічному
                    розташуванню додатково до трицепсам здійснюється навантаження на нижню частину грудних м’язів.
                    Зверніть увагу, що при віджиманні лікті дивляться назад, а не на всі боки (дуже часта помилка, яка
                    веде до перевантаження плечових і ліктьових суглобів). Якщо у вас немає підходящої лави, можна
                    виконувати віджимання на підлозі, опустившись на коліна в разі потреби.<br>Скільки виконувати: 10-15
                    повторень.</li>
                <li> <b>Випрямлення рук з планки на ліктях</b><br>Робота ведеться в положенні класичної планки на ліктях.
                    Спина утримується прямий і утворює рівну лінію з ногами і шиєю. Ніяких провисів бути не повинно.
                    Спочатку витягніть праву руку вперед, ненадовго затримаєте позицію, після чого підведіть її назад.
                    Далі аналогічна робота робиться лівою рукою. Не поспішайте, тримайте середній темп.<br>Скільки
                    виконувати: по 8-10 повторень на кожну руку.</li>
                <li> <b>Згинання рук лежачи на підлозі</b><br>Ляжте животом на килимок і злегка підніміть верхню частину
                    тулуба. Руки витягніть перед собою, після чого почніть виконувати відведення рук назад, ніби
                    підтягується на турніку (це дозволить простіше освоїти техніку). Просунуті можуть відірвати ноги від
                    підлоги, задіюючи таким чином сідниці і задню поверхню стегна.<br>Скільки виконувати: 12-15
                    повторень.</li>
                <li> <b>Перехресні торкання плечей в планці</b><br>Тіло в даному випадку утворює рівну лінію від голови
                    до п’ят. М’язи кора напружені максимально, що не задирайте сідниці вгору і не провисає тілом. На
                    рахунок «раз» торкніться лівою долонею правого плеча, а на рахунок «два» поверніть руку на місце. За
                    аналогічною техніці виконайте рух правою долонею до лівого плеча.<br>Скільки виконувати: по 10-12
                    повторень на кожну руку.</li>
            </ol>
        </p>
    </div>
</div>