<div class="center_content">
    <div class="maintext">
        <img class="img" src="../static/img/gym.png">
        <h1>Тренування м'язів спини</h1>
        <p>Тренуючи своє тіло, дуже легко забути про спину — адже саме цю частину тіла ми не можемо побачити в
            дзеркалі. Але прокачані м’язи спини важливі не тільки з естетичної точки зору. Без сильних м’язів спини
            ми не зможемо робити більшість базових вправ з великою вагою і прогресувати в тренуваннях. Та й багато
            вправи з вагою власного тіла вимагають від нас прокачаних м’язів спини.</p>
        <p>Пропонуємо вам підбірку найкращих вправ для спини для дівчат в домашніх умовах, які допоможуть швидко і
            ефективно досягти поставленої мети: наростити м’язову масу, привести тіло в тонус і схуднути, зміцнити
            хребет.</p>
        <p>Подані нижче вправи рекомендується виконувати як для зміцнення м’язів, так і для випрямлення хребта,
            поліпшення постави і профілактики болів в спині і попереку.
            <ol class="marked">
                <li> <b>Обертання рукою в планці</b><br> Прийміть положення планки на руках, ноги трохи розставлені.
                    Тіло утворює пряму лінію, поперек не прогинається, прес підтягнутий. Відірвіть одну долоню від
                    статі і виконайте круговий рух прямий рукою. Поверніться у вихідне положення. Потім виконайте те
                    ж саме іншою рукою. Виконайте 10-12 повторень на кожну руку в 2-3 підходи.</li>
                <li> <b>Підйом рук в планці на передпліччях</b><br> Опустіться в планку на передпліччях, ноги трохи
                    розставлені. Знову ж стежте за положенням тіла, воно повинно утворювати одну пряму лінію від
                    п’ят до голови. Відірвіть одну руку від статі і витягніть її вперед. Затримайтеся на кілька
                    секунд і опустіть передпліччя на підлогу. Потім аналогічно витягніть вперед іншу руку. Виконайте
                    10-12 повторень на кожну руку в 2-3 підходи.</li>
                <li> <b>Плавець</b><br>Опустіться на живіт, руки витягнуті вперед долонями вниз. Особа і частина
                    грудей відірвані від статі. Одночасно підніміть праву руку і ліву ногу максимально вгору,
                    відриваючи стегно від підлоги. Напружуйте м’язи спини та попереку. Затримайтеся на кілька секунд
                    і поверніться у вихідне положення. Потім поміняйте боку. Повторіть 12-15 повторень на кожну
                    сторону в 2-3 підходи.</li>
                <li> <b>Гіперекстензія з розведеними руками</b><br>Ця вправа дуже корисна для постави і зміцнення
                    хребта. Ляжте на живіт, голова опущена на килимок. Руки розведені в сторони долонями вниз.
                    Підніміть верхню частину тіла максимально вгору, відірвавши голову і груди від статі. Здійснюйте
                    підйом вгору спиною. Затримайтеся на кілька секунд в верхньому положенні і опустіть голову і
                    груди на підлогу. Виконайте 15-20 повторень в 2-3 підходи.</li>
                <li> <b>Супермен</b><br>Це ще одне дуже корисна вправа для постави і хребта. Ляжте на живіт, голова
                    опущена на килимок. Руки витягнуті вперед долонями вниз. Відірвіть одночасно від підлоги голову,
                    груди, стегна і підійміть їх максимально вгору. Затримайтеся на кілька секунд і потім
                    поверніться у вихідне положення. Не тягніть шию вгору, вона зберігає природне положення.
                    Виконайте 10-12 повторень в 2-3 підходи.</li>
                <li> <b>Мисливська собака</b><br>А ось це хоч і проста, але дуже ефективна вправа для зміцнення спини
                    і хребта. Опустіться на карачки, спина пряма і трохи прогнута в попереку. Підніміть одночасно
                    праву руку і ліву ногу максимально вгору і затримайтеся на кілька секунд. Потім поміняйте
                    сторону. Виконайте по 15-20 повторень в 2-3 підходи. Ви можете ускладнити цю вправу, якщо
                    підіймете протилежні руку і ногу вгору і затримайтесь в цьому положенні на 45-60 секунд.</li>
            </ol>
        </p>
    </div>
</div>