<div class="center_content">
    <div class="maintext">
        <img class="img" src="../static/img/breakfast1.png">

        <h1>Сніданок</h1>
        <p>Сніданок – наш перший прийом їжі, пропускати який не рекомендується, і на це є свої причини. Після тривалого
            голодування організм відчуває дефіцит калорій і уповільнює метаболізм. Поснідавши вранці, ви нормалізуєте
            обмін речовин і зможете утримувати індекс маси тіла на одному значенні.<br>
            Здоров'я організму залежить безпосередньо від якості споживаної їжі. Вибирайте рецепти корисних сніданків.
            Утримати баланс дуже просто, якщо знати, які продукти варто купувати, і як правильно їх поєднувати між
            собою.</p>
        <h2>Найкорисніші сніданки: продукти для рецептів</h2>
        <p>Для сніданку, в магазині варто вибирати такі продукти:
            <ol class="marked">
                <li> <b>Яйця.</b> Корисний сніданок з яєць можна зробити дуже швидко. Даний продукт багатий на білки
                    і жири, містить мінімум вуглеводів. До складу входять антиоксиданти, амінокислоти, а також
                    вітаміни В12 і D. Яйця є джерелом мікроелементів: кальцій, магній, цинк, залізо і фосфор.</li>
                <li> <b>Крупи.</b> Для сніданку найбільше підходить вівсянка і гречка. Вибирайте цільнозернові
                    крупи,
                    так як в них міститься найбільше корисних речовин. Вівсянка, наприклад, містить на 100г сухих
                    пластівців: 12г білка, 65г вуглеводів, вітаміни групи B і мінеральні речовини.</li>
                <li> <b>Домашній сир. </b>Хоч його і не рекомендують вживати на вечерю, але це смачний пп сніданок.
                    Для насичення досить 200 г сиру, не варто зловживати, так як це досить важка їжа. Він багатий на
                    білки, жири (в залежності від жирності продукту), кальцій. Сир корисний для печінки і серця.
                </li>
                <li> <b>Йогурт.</b> Швидкий і корисний сніданок без тягот. Вибирати потрібно натуральні йогурти без
                    добавок і цукру. Якщо ви не можете знайти смачний продукт, Ви можете зробити його самостійно за
                    допомогою молока і закваски. У йогурті міститься велика кількість біфідобактерій, які позитивно
                    впливають на мікрофлору кишечника.</li>
                <li> <b>Сир.</b> Тут краще віддавати перевагу напівтвердим сирам: бринзі, моцареллі, сулугуні. Вони
                    не сильно жирні і універсальні. Відмінно поєднуються в бутербродах з іншими продуктами, можна
                    додавати до яєчні, каші.</li>
                <li> <b>М'ясо.</b> Це може бути курка, кролик, яловичина, нежирна свинина. М'ясо багате на білки і
                    не
                    містить вуглеводів. Можна використовувати для бутербродів і на додаток до солоної каші.</li>
                <li> <b>Цільнозерновий або житній хліб.</b> Він може служити як основою для страви, так і
                    доповненням. Корисний хліб багатий на вуглеводи, вітаміни групи В, клітковину і мікроелементи.
                    Корисні сніданки для схуднення теж можуть включати борошняне.</li>
                <li> <b>Мюслі.</b> Вибирайте суміш без цукру, цукатів, кукурудзяних пластівців. До складу повинна
                    входити смажена або сира вівсянка, сухофрукти, горіхи.</li>
                <li> <b>Ягоди та фрукти.</b> Їх можна додавати в каші, йогурт, сир. Вони багаті на вітаміни і
                    антиоксиданти, швидко засвоюються і нормалізують роботу кишечника.</li>
                <li> <b>Мед.</b> Краща альтернатива цукру і шкідливих цукрозамінникам. Смачний, корисний сніданок
                    навряд чи обійдеться без нього. Він багатий на вітаміни, мікроелементи і антиоксиданти, а також
                    підвищує імунітет.</li>
            </ol>
        </p>
        <h3>Що робити, якщо не встигаєш поснідати?</h3>
        <p>Корисні сніданки – це дуже важливо для організму, але що робити, якщо немає часу поїсти? Причини
            можуть
            бути різні: проспав, погане самопочуття, немає потрібних продуктів і т.д. Вихід із ситуації є
            завжди!
            Замінити прийом їжі можна БАДами, які наповнять організм енергією, вітамінами і мінералами.</p>
        <p>Вибирати добавку потрібно в залежності від того, чого не вистачає вашому організму. Їх можна приймати
            і
            під час повноцінного сніданку для відновлення балансу речовин. Варіанти корисних сніданків не завжди
            бюджетні. Наприклад, не кожен дозволить собі купити червону рибу, але в ній міститься велика
            кількість
            Омега 3-6-9, які просто необхідні для шкіри, волосся, зору. Корисний сніданок для жінок не може
            обійтися
            без жирів, адже це запорука їхнього здоров'я.Тому, як варіант можна купити Омега-3 у вигляді капсул.
            Баночки з капсулами вистачить на місяць, як мінімум, а вартість як у шматочка риби. Ви заощадите
            багато
            грошей і при цьому наситите свій організм корисними елементами.</p>
        <p>Снідати одними кашами та фруктами не варто, адже білок дуже важливий для нашого організму. При
            нестачі
            м'язи втрачають тонус, а тіло стає в'ялим і непривабливим, з'являються проблеми зі шкірою. Якщо ви
            розумієте, що не можете вжити норму білка на сніданок, доберіть його за допомогою протеїну. Для
            зручності можна придбати разові порції, їх можна брати з собою на роботу або прогулянку. Вживати
            протеїн
            можна не тільки на сніданок, а й на перекус і навіть вечерю. Змішавши порошок з молоком, ви
            отримаєте
            справжній коктейль, який, не дивлячись на свою солодкість, без цукру.</p>
    </div>
</div>