<div class="center_content">
    <div class="maintext">
        <img class="img" src="../static/img/butt.png">
        <h1>Тренування м'язів сідниць</h1>
        <p>Сідниці — сильні, потужні м'язи, що є важливою частиною дієздатності й функціонування людини.<br>
            На жаль, сідниці — одні з головних жертв сучасного малорухомого способу життя. Дотримуючись закону
            «маємо — не дбаємо», ми сидимо так багато, що наші сідниці стали лінивими, неактивними й майже не
            функціонують (і до того ж вони плоскі).<br>
            Слабкі зменшені сідниці можуть призвести до болю в спині, стегнах, колінах і ще низки ортопедичних
            проблем, а не тільки до того, що улюблена пара джинс буде погано сидіти на тобі.
            Тому ось список вправ, що відновлять фізичний стан сідниць, зроблять їх міцними й підтягнутими. Вони
            впорядковані від найлегших до найважчих, тому обирай залежно від свого рівня підготовки.
            <ol>
                <li> <b>Стискання сідниць</b><br>Ця вправа може стати хорошим стартом, а оскільки вона легка, її
                    можна повторювати багато разів. Коли намагаєшся протренувати м'язи, важливо відчувати, як вони
                    працюють, і розвивати вміння контролювати це. Для цього встань і стисни сідниці так, ніби хочеш
                    зламати ними волоський горіх. Якщо не відчуваєш сідниці, продовжуй тренуватися й стискай далі.
                    Ти здивуєшся, наскільки сильно ти можеш напружити їх за кілька хвилин. Як тільки відчув,
                    переходь до наступних вправ зі списку.</li>
                <li> <b>Сідничний міст</b><br>Чудова вправа для новачків для повторної активації розумового контролю
                    над діями своїх м'язів. Лягай на спину, зігни коліна, спирайся на стопи й стисни сідниці так, як
                    зазначено в попередній вправі. Підводь стегна вгору, тримай їх зверху й контролюй під час
                    опускання. Намагайся напружувати тільки ті м'язи, що мають бути залучені у вправі, і намагайся
                    постійно відчувати свої напружені сідниці. Крім того, змінюй швидкість, темп і кількість
                    повторів.</li>
                <li> <b>Сідничний міст на одну ногу</b><br>Та ж вправа, що й попередня, але з ускладненням. Підніми
                    одну ногу вгору й трохи посунь уперед п'ятку іншої, щоб виконати сідничний міст на одну ногу.
                </li>
                <li> <b>Випади на місці</b><br>Ставимо ніжки так, щоб кут між гомілкою і коліном опорної ноги був
                    приблизно 90 градусів. Ніжка ззаду має максимально торкатися підлоги. Опускаємося – вдихаємо,
                    видихаємо на зусиллі вгорі. По 15 повторень на кожну ногу у 3-4 підходи.</li>
                <li> <b>Присідання пліє</b><br>Широко ставимо ноги, носки трохи розводимо в сторону. Беремо в руки
                    гирю, гантелі або пляшку з водою. Спина рівна, злегка нахиляємо корпус, таз максимально
                    відводимо назад, намагаємося присідати до паралелі з підлогою. Присідаємо – вдих, піднімаємося –
                    видих. У максимальній верхній точці стискаємо сідниці. По 15 повторень у 3-4 підходи.</li>
                <li> <b>Нахили з гателями</b><br>Ніжки ставимо на ширині стегон, злегка згинаємо ноги, спина рівна.
                    Фіксуємо це положення. Опускаємо верхню частину корпусу, відчуваємо, як розтягується біцепс
                    стегна. Піднімаємося повільно, без ривків. У верхній точці намагаємося затискати сідниці.
                    Опускаємо – вдих, піднімаємо – видих. 15-20 повторень у 3-4 підходи.</li>
                <li> <b>Вистрибування на місці</b><br>Ніжки ставимо трохи ширше плечей, спинку нахиляємо вперед, таз
                    відводимо назад. Під час присідання максимально низько опускаємо сідниці, коліна дивляться в бік
                    носків. Присідаємо – вистрибуємо і повертаємося в положення присідання. 15– 20 повторень у 3-4
                    підходи.</li>
            </ol>
        </p>
    </div>
</div>