<div class="center_content">
    <div class="maintext">
        <img class="img" src="../static/img/press.png">
        <h1>Тренування м'язів живота</h1>
        <p>Про підтягнуту фігуру з акуратним животиком та ефектним силуетом мріє кожна дівчина. І здійснити таку мрію
            під силу будь-якої панночки незалежно від віку та ваги.<br>Ось декілька вправ, які допоможуть у здійсненні
            цієї мрії:
            <ol class="marked">
                <li> <b>Підйом ніг</b><br>Лягаємо на спину, ноги зігнуті в колінах. На вдиху підконтрольно піднімаємо
                    зігнуті ноги якомога вище, відриваючи сідниці від підлоги. На видиху повертаємось у початкове
                    становище. Найкращий результат дозволить отримати виконання тієї самої вправи з повністю
                    випрямленими ногами. Повертати головою в такому положенні категорично забороняється: великий ризик
                    травмування шиї.</li>
                <li> <b>Підйом ніг із розворотом</b><br>Лежачи на спині, руки відводимо в різні боки до кута 90°, прямі
                    ноги піднімаємо нагору. З цього положення по черзі кладемо обидві ноги у різні боки, залишаючи плечі
                    притиснутими до підлоги. На вдиху ноги повинні бути якомога ближче до поверхні, на видиху -
                    повертатися в початкове положення.</li>
                <li> <b>"Велосипед"</b><br>Лягаємо на підлогу, ноги згинаємо в колінах, пальці рук перехрещуємо за
                    головою. Піднявши плечі від підлоги, потрібно тягнутися лівим коліном до правого ліктя, випрямляючи
                    праву ногу. На видиху повертаємось у початкове становище і робимо той самий рух у дзеркальному
                    відображенні. Чим вище плечі будуть підняті від підлоги, тим більший ефект дасть таке навантаження.
                </li>
                <li> <b>"Ножиці"</b><br>Лежачи на спині, руки лежать під попереком. Ноги піднімаються до висоти 10 см від
                    підлоги, після чого виконують рух, що імітує ножиці – зсуваються та розводяться.</li>
                <li> <b>Махи в положенні лежачи</b><br>Притиснувши поперек до підлоги і випрямивши руки, піднімаємо ноги
                    над підлогою. По черзі піднімаємо прямі ноги до кута 45 градусів, не опускаючи п'яту нижньої ноги на
                    підлогу. Кожну вправу слід виконувати до відчуття легкого печіння. Від занять буде швидкий результат
                    тільки якщо кожен комплекс буде виконаний по 2-3 рази.</li>
                <li> <b>"Планка"</b><br>Окремо хочеться згадати про справді універсальну вправу "Планка", яка допомагає
                    зміцнити не тільки область преса, а й м'язи рук, ніг, спини. Для цього достатньо виконати опору на
                    носки ніг та долоні (або передпліччя), а все тіло витягнути у струну. Чим довше вдасться перебувати
                    в такому положенні, тим кращий ефект, що зміцнює і жиросжигающий, вдасться отримати.</li>
            </ol>
        </p>
        <p>Якщо фітнесом ви займаєтесь досить довго, то прості вправи, навіть, за великої кількості повторів можуть дати
            бажаного результату. Комплекс на прес варто ускладнювати, віддаючи перевагу складнішим вправам. Тому ми
            пропонуємо наступний перелік вправ, які можна виконувати разом з вище запропонованими:<br>
            <ol class="marked">
                <li> <b>Підйом ніг зі становища лежачи</b><br>Спортсменам з досвідом варто робити вже з прямими ногами,
                    за можливості заводячи ступні за голову. Ідеально, якщо рухи робляться в повільному темпі, а ноги
                    постійно залишатимуться на вазі, не торкаючись статі. Важливо фіксувати положення попереку, уникати
                    будь-яких больових відчуттів у його області.</li>
                <li> <b>Буква "V"</b><br>Складне рух із великою амплітудою. Лежачи на спині, випрямляємо ноги і витягуємо
                    руки за головою. За рахунок м'язів преса піднімаємо верхню та нижню частини корпусу, щоб збоку тіло
                    нагадувало англійську літеру V. В кінцевому положенні бажано затриматися на кілька секунд, після
                    чого лягти і на вдиху повторити вправу.</li>
                <li> <b>Підйом ніг на турніку</b><br>Підійде будь-який турнік, під час вису, на якому ви не торкаєтеся
                    ногами землі. У цьому положенні потрібно піднімати ноги вище за таз. Якщо з прямими ногами
                    виконувати вправу дуже складно, допустимо згинати їх у колінах. Під час виконання комплексу важливо
                    не розгойдуватися на турніку.</li>
                <li> <b>Вправа "Вакуум"</b><br>Якщо ваша мета - не горезвісні кубики, а плоский животик і акуратна жіноча
                    талія, відмінний ефект дасть вправу "Вакуум". Для його виконання потрібно стати прямо, трохи
                    нахилити корпус і впертись долонями в стегна. Робимо глибокий і повільний вдих носом, видихаємо
                    ротом, після чого максимально втягуємо живіт під ребра і затримуємо дихання на кілька секунд. Після
                    цього повторюємо вправу 9 або більше разів. Під час дихання важливо тримати спину гранично прямою.
                    Якщо таке положення незручно, упертись руками можна об стіну перед собою.</li>
            </ol>
        </p>
    </div>
</div>
