<div class="center_content">
    <div class="maintext">
        <h1>Щоденник моїх активностей</h1>
        <div class="date">
            <div class="button" id="previous">Попередня дата</div>
            <span id="label">Моя активність за </span> 
            <div class="button" id="next">Наступна дата</div>
        </div>
        <div class="activity">
            <div class="addRow">
                Активність: <input type="text" id="activeInput">
                Тривалість: <input type="time" value="00:00" id="timeInput">
                Калорії: <input type="number" id="caloriesInput">
                <button id="inputSubmit">Додати активність</button>
                <hr>
            </div>

            <table>
                <thead>
                    <tr>
                        <th class="active">Активність</th>
                        <th class="time">Тривалість</th>
                        <th class="calories">Калорії</th>
                        <th class="indent"></th>
                    </tr>
                </thead>
                <tbody id="diary">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="../static/js/dynamicTable.js" type="module"></script>