<div class="center_content">
    <div class="maintext">
        <img class="img" src="../static/img/supper.png">
        <h1>Вечеря</h1>
        <p>Коли ввечері за столом збирається вся родина, правильна вечеря повинна бути приготована з продуктів,
            багатих ферментами, рослинною клітковиною, швидкозасвоюваними білками. Меню можна обмежувати одним
            яблуком або склянкою нежирного кефіру, який корисно випити перед сном. Перевантажувати вечерю гострими
            приправами і важкими жирними десертами, які не забаряться залишити на пам’ять про себе на талії і боках,
            також не потрібно. Але трохи імбиру, куркуми або кардамону не завадять. Апетитні корисні страви для
            вечірнього прийому їжі покликані одночасно вирішувати 3 завдання:<br>
            <ol>
                <li> викликати приємні емоції;</li>
                <li> створювати гарний настрій;</li>
                <li> забезпечувати насичення без переїдання і відчуття тяжкості в шлунку.</li>
            </ol>
        </p>
        <p>Організм, який отримав вечірнє харчування, заспокоюється, перестає боятися голоду і відкладати жири про
            запас. Наша підсвідомість набагато розумніша за нас самих. Треба до неї просто прислухатися.</p>
        <h2>Які продукти корисно їсти на вечерю?</h2>
        <p>Перелік продуктів для корисної вечері настільки великий, що дозволяє задовольнити запити найвибагливішого
            гурмана:
            <ol class="marked">
                <li> <b>Риба і морепродукти.</b> Креветки, морські гребінці, кальмари, краби, нежирна біла риба і
                    багата на жирні кислоти червона – відмінний варіант для бажаючих надати стрункість фігури.</li>
                <li> <b>М’ясо.</b> Кролятина, телятина, індиче і куряче філе ідеально вписуються в меню правильної
                    вечері, збагачують раціон вітамінами і легкозасвоюваним білком.</li>
                <li> <b>Сир.</b> Універсальний продукт, який може виступати, як в ролі самостійного блюда, так і
                    ніжного десерту з ягодами і фруктами.</li>
                <li> <b>Овочі.</b>Квітна капуста, броколі, солодкий перець, кабачки, баклажани, морква, гарбуз і інші
                    незамінні для страв здорового харчування. З них легко приготувати безліч салатів, гарнірів,
                    овочевих котлет, запіканок і рагу. Яка корисна вечеря може без них обійтися? Головне, щоб овочі
                    були свіжими.</li>
            </ol>
        </p>
        <p>Ось декілька корисних порад, щодо вечірнього прийому їжі:<br>
            <ol>
                <li> Готуйте вечерю з гарним настроєм.</li>
                <li> Для підвищення поживної цінності страв намагайтеся використовувати тільки свіжі продукти, різні
                    види рослинних олій – горіхову, оливкову, рапсову, соняшникову.</li>
                <li> Ретельно і не поспішаючи пережовуйте їжу. Чим повільніше жуємо, тим швидше насичуємося.</li>
                <li> Не забувайте прикрашати стіл для вечірньої трапези.</li>
                <li> Намагайтеся вечеряти в один і той же час, в ідеалі за 3-4 години до сну.</li>
                <li> Пам’ятайте про важливу формулу: менше солі і цукру – менше води в організмі, а це значить -
                    менше ризику набрати зайві кілограми.</li>
            </ol>
        </p>
    </div>
</div>