<div class="center_content">
    <div class="maintext">
        <img class="img" src="static/img/collage_healthy.png">

        <h1>Правильне харчування</h1>
        <p>Правильне харчування — це не сувора дієта, а збалансований прийом їжі протягом дня. Поступово замініть жирну,
            смажену їжу, фаст-фуд продуктами, приготованими на пару, в духовці. Обов’язково введіть у раціон свіжі
            овочі. Замініть солодощі, випічку сухофруктами і свіжими фруктами. Замість шоколадок їжте горіхи.<br>
            Харчуватися потрібно тричі на день. Між сніданками, обідами, вечерями мають бути перекуси.<br> Щодня пийте
            йогурт або кефір. Ці напої допоможуть підтримувати здорову мікрофлору кишечника.<br> Завдяки правильно
            складеному меню ви будете споживати потрібну кількість калорій, насичувати організм здоровою їжею, що
            містить всі необхідні вітаміни, мікроелементи. Отже, хороша фізична форма забезпечена!</p>
        <p>Ось декілька порад про збалансований прийом їжі:</p>
    </div>
</div>
<div class="buttons">
    <a href="/healthy_food/breakfast" class="btn"><span>Сніданок</span></a>
    <a href="/healthy_food/lunch" class="btn"><span>Обід</span></a>
    <a href="/healthy_food/dinner" class="btn"><span>Вечеря</span></a>
</div>