<div class="center_content">
    <div class="maintext">
        <img class="img" src="../static/img/leg.png">
        <h1>Тренування м'язів ніг</h1>
        <p>Для тренування м'язів ніг не обов'язково записуватися у спортзал. При вірному розподілі навантаження й
            продуманому підборі спортивного інвентарю їх можна прокачати навіть без тренера й професійного устаткування.
            Головне — включити до свого тренувального плану вправи для ніг, які підходять за рівнем підготовки, та
            врахувати нюанси прокачування цих м'язів. Ми пропонуємо вправи, для виконання яких не потрібен інвертар:<br>
            <ol class="marked">
                <li> <b>Стрибки-ножиці</b><br>Поставте ноги ширше плечей, руки витягніть в сторони. Тепер виконуйте
                    енергійні стрибки, перекрещивая ноги і руки. Стрибайте з середньою амлітудой, що не підстрибуючи
                    занадто сильно, щоб зберегти розмірений темп. Але також не слід поспішати, інакше м’язи не одержать
                    достатньої навантаження. Активне кардіо-вправа розганяє обмін речовин і зміцнює м’язи ніг від
                    гомілки до стегон і сідниць.<br>Скільки виконувати: 20-25 схрещувань.</li>
                <li> <b>Стрибки + станова тяга сумо</b><br>Поставте ноги на максимальній ширині один від одного,
                    шкарпетки розведіть в сторони, руки опустіть вздовж тіла. Опустіться в присідання сумо, нахиляючи
                    корпус вперед, щоб руками торкнутися підлоги. З нижньої точки зробіть стрибок, щоб повернутися в
                    початкове положення стоячи. Потім стрибком поверніться в стійку для сумо і повторіть все спочатку.
                    Функціональне вправу на стегна і сідниці не тільки зміцнює м’язи, але також покращує витривалість і
                    вибухову силу тіла.<br>Скільки виконувати: 15-20 повторень.</li>
                <li> <b>Низькі випади з кіком ногою</b><br>Стоячи прямо, зробіть випад назад правою ногою і нахиліться
                    вниз, намагаючись торкнутися лівою рукою правої стопи. При цьому коліно лівої ноги має майже
                    торкатися підлоги. На підйомі зробіть кік лівою ногою вперед, а потім знову поверніться в випад.
                    Зробіть все повторення для однієї ноги, а потім для іншої. Низкоударной кардіо-вправа розганяє
                    кровообіг, сприяючи жиросжиганию, а також зміцнює м’язи стегон і корпусу.<br>Скільки виконувати:
                    12-15 повторень спочатку на одну ногу, потім 12-15 повторень на іншу ногу.</li>
                <li> <b>Ковзаняр</b><br>Встаньте прямо, ноги разом. Тепер опустіться в полуприсед, корпус нахиліть
                    вперед. З цього положення відставте в сторону праву ногу, а правою рукою торкніться лівої стопи.
                    Поверніться назад і повторіть в іншу сторону. Виконуйте вправу в швидкому темпі, намагаючись
                    змінювати ноги не кроками, а стрибками. Ковзанярі часто включають в тренування ніг в домашніх умовах
                    завдяки високій ефективності вправи не тільки для опрацювання м’язів, але також для спалювання жирів
                    і схуднення.<br>Скільки виконувати: 12-15 торкань кожною рукою ( всього 25-30).</li>
                <li> <b>Стрибки в присиді</b><br>Опустіться в класичне присідання, щоб коліна були зігнуті під прямим
                    кутом і знаходилися на одній лінії з шкарпетками. З цього положення легко підстрибніть, не
                    розгинаючи колін повністю і знову повертаючись в присідання. Просте на перший погляд вправа змусить
                    ваші м’язи горіти, адже під час його виконання стегна, сідниці і ноги повністю знаходяться в
                    напрузі, а кардіо-темп допомагає втрачати кілограми.<br>Скільки виконувати: 15-20 повторень.</li>
                <li> <b>Стрибки Jumping Jack з махами</b><br>Поставте ноги разом, руки вільно опущені. Зробіть стрибок,
                    розводячи ноги і руки в сторони. Після повернення в початкове положення, зробіть мах ногою вперед,
                    намагаючись торкнутися долоні протилежної руки, яку теж витягніть вперед. Потім знову зробіть
                    стрибок і в початковому положенні зробіть мах іншою ногою. Це функціональне вправу на ноги помірної
                    інтенсивності легко можна робити вдома, якщо ви хочете прискорити процес схуднення і як можна швидше
                    привести стегна в відмінну форму.<br>Скільки виконувати: 8-10 махів на кожну ногу.</li>
                <li> <b>Подвійні присідання з вистрибуванням</b><br>Поставте ноги на ширині плечей, руки складіть перед
                    собою. Зробіть присідання в класичній техніці, поверніться у вихідне положення. Тепер знову
                    присядьте і на підйомі вистрибніть вгору. Потім знову опустіться в присід і повторіть все спочатку.
                    Вправа допоможе вам не тільки зміцнити стегна і сідниці, але також прокачає вашу витривалість і
                    збільшить фізичні можливості тіла. Присед + присед з вистрибуванням — це одне повторення.<br>Скільки
                    виконувати: 12-15 повторень.</li>
                <li> <b>Присід з планки</b><br>Встаньте в планку на прямих руках, переконавшись, що долоні знаходяться
                    точно під пліву суглобами, а таз становить одну лінію зі спиною і ногами. Тепер зробіть крок кожною
                    ногою до долонь, і, не розгинаючи колін, підніміть корпус вгору. При цьому не міняйте положення рук,
                    щоб було простіше повернутися в початкове положення. Тепер поставте руки на підлогу, потім відставте
                    кожну ногу, повертаючись в планку, і повторіть все спочатку. Непросте, але ефективне вправи для
                    стегон, яке можна робити в домашніх умовах, щоб швидше отримати тіло мрії. Не забудьте в першому
                    підході крокувати з правої ноги, у другому підході з лівої ноги для рівномірного навантаження (або
                    чергувати повторення).<br>Скільки виконувати: 10-12 повторень спочатку з одну ногу , потім 10-12
                    повторень на іншу ногу.</li>
                <li> <b>Крокові присідання з підйомом рук</b><br>Поставте ноги разом і опустіться в присідання. Руки
                    опустіть вздовж тіла і торкніться пальцями стопи. На підйомі підніміть руки вгору і відставте праву
                    ногу в сторону. Поверніться в присідання і на наступному підйомі знову підніміть руки вгору, але
                    відставте в сторону вже ліву ногу. Виконуйте вправу енергійно, щоб витратити якомога більше калорій
                    і прискорити метаболізм, що допоможе вам швидше схуднути.<br>Скільки виконувати: 8-10 повторень на
                    кожну ногу.</li>
                <li> <b>Присідання зі стрибками</b><br>Поставте ноги разом, руки за голову і опустіться в присід. З цього
                    положення підстрибніть, розставляючи ноги в сторони, потім стрибком поверніться у вихідне положення.
                    Виконуйте енергійні стрибки, не розгинаючи коліна і залишаючись на протязі всього вправи в приседе.
                    Активне вправу на стегна і сідниці добре нагрузить ноги і стане найкращим завершенням
                    кардіо-тренування на низ тіла.<br>Скільки виконувати: 20-25 повторень.</li>
            </ol>
        </p>
    </div>
</div>
