<div class="center_content">
    <div class="maintext">
        <img class="img" src="../static/img/dinner2.png">
        <h1>Обід</h1>
        <p>Обід – дуже важливий прийом їжі. Він повинен бути ситним, але при цьому корисним. І якщо ви хочете схуднути
            або для вас важливо правильне харчування, значить, треба обов’язково приділити увагу цьому прийому їжі.</p>
        <p>Під час обіду необхідно вжити 40% добового об’єму їжі. Тобто, саме в цей час можна і потрібно з’їсти досить
            багато. Справа в тому, що з 12 до 15 годин відбувається активне вироблення ферментів, які розщеплюють їжу.
            Вони сприяють швидкій переробці і хорошому засвоєнню їжі. В обід організм потребує отримання великої
            кількості енергії, причому нічого з з’їденого не відкладеться у вигляді жиру (якщо тільки обід буде
            правильним). Правильне харчування в обід передбачає вживання і білків, і жирів, і вуглеводів. Головне, щоб
            всі вони були корисними для здоров’я.<br> Вуглеводи повинні бути складними – макарони з грубих сортів
            пшениці, каші, картопля відварна або запечена, цільнозерновий хліб. Складні вуглеводи дозволять отримати
            максимум енергії для бадьорості протягом дня, що залишився.<br> Білки можуть бути представлені пісної рибою
            або м’ясом. Бажано, щоб ці продукти не виходили за рамки – 200 г. Білок можна отримати також з сиру або
            яєць.<br> Що стосується жирів, вони повинні бути присутніми в невеликій кількості. Корисні жири – це
            рослинні масла, горіхи, риба, насіння, яйця, молочні продукти і деякі овочі (наприклад, авокадо).</p>
        Правильне харчування передбачає повноцінний і ситний обід, при цьому продукти харчування, які використовуються,
        повинні бути корисними. Ось зразкове меню:
        <ol>
            <li> овочевий суп, котлета, рис, салат і свіжовичавлений сік;</li>
            <li> борщ з м’ясом, рагу з овочів, салат, желе і компот;</li>
            <li> суп-пюре овочевий, тушкована риба з овочами, салат і зелений чай;</li>
            <li> борщ з м’ясом, сирна запіканка з яблуками, апельсин і чай.</li>
        </ol>
        Таке харчування наситить вітамінами та мінералами, забезпечить організм енергією, а значить, ви станете
        більш працездатними і бадьорими. При цьому корисний обід не додасть зайвих кілограмів.</p>
        <h2>Які продукти харчування слід вживати в обід?</h2>
        <p>Що можна їсти в обід? Ось корисні продукти харчування:
            <ol>
                <li> овочі – в вареному, запеченому, тушкованому вигляді;</li>
                <li> фрукти;</li>
                <li> ягоди; зелень – у великій кількості;</li>
                <li> крупи – в невеликій кількості;</li>
                <li> макарони – тільки з твердих сортів пшениці;</li>
                <li> молочні та кисломолочні продукти – з низьким відсотком жирності;</li>
                <li> пісне м’ясо;</li>
                <li> нежирна риба;</li>
                <li> субпродукти – раз в тиждень;</li>
                <li> морепродукти;</li>
                <li> яйця – 2 рази на тиждень.</li>
            </ol>
            Ось ці продукти харчування підходять для приготування смачних і корисних страв.
        <p>Що стосується напоїв, можна вибрати будь-який чай, кава, несолодкий компот або морс, свіжовичавлений сік або
            воду.</p>
        <p>Якщо ви дотримуєтеся правильного харчування, не використовуйте для приготування страв шкідливі продукти. Це
            майонез, жирні соуси, жирне м’ясо і риба, молочні продукти з високим відсотком жирності. Крім того, не слід
            їсти десерти з жирним кремом, цукерки, пити солодкі напої.</p>
    </div>
</div>