<div class="center_content">
    <div class="maintext">
        <img class="img" src="static/img/yoga2.png">
        <h1>Головна сторінка</h1>
        Безліч щоденних турбот і обов’язків призводять до нервового перенапруження, до вечора валять з ніг.
        Короткий тривожний сон не може повноцінно відновити організм, а наступного ранку карусель турбот
        розкручується знову…<br>Як тримати себе в хорошій фізичній формі, якщо живеш у стані перманентного
        стресу?<br> Ми розповімо, як підтримувати гарну фізичну форму, не відвідуючи тренажерний зал і не
        користуючись послугами персонального тренера.<br>
        Але важливо пам'ятати, що для отримання результату важлива системність та дисципліна. У цьому вам допоможуть
        "Мій щоденник активностей" та "Калькулятор калорій".<br>
        "Мій щоденник активностей" - ваш персональний помічник у відслідковуванні та систематизації активностей впродовж
        дня.<br>
        "Калькулятор калорій" - персональний помічник для підрахунку калорійності вашого раціону.
    </div>
</div>
<div class="buttons">
    <a href="/daily" class="btn"><span>Мій щоденник активностей</span></a>
    <a href="/calculator" target="_blank" class="btn"><span>Калькулятор калорій</span></a>
</div>