<div class="center_content">
    <div class="maintext">
        <img class="img" src="static/img/fit.png">
        <h1>Тренування</h1>
        <p>Домашні тренування містять щоденні вправи для всіх основних груп м'язів. Усього за декілька хвилин на день ви
            можете наростити м'язи та підтримувати себе у формі вдома, не ходячи до спортзалу. Не потрібне додаткове
            спорядження та тренер, усі вправи можна виконувати, використовуючи лише вагу власного тіла.</p>
        <p>Ось програми тренувань, які спрямовані на певні групи м'язів:</p>
    </div>
</div>
<div class="buttons">
    <a href="/training/back" class="btn_training btn"><span>М'язи спини</span></a>
    <a href="/training/arms" class="btn_training btn"><span>М'язи рук</span></a>
    <a href="/training/core" class="btn_training btn"><span>М'язи живота</span></a>
    <a href="/training/legs" class="btn_training btn"><span>М'язи ніг</span></a>
    <a href="/training/butt" class="btn_training btn"><span>М'язи сідниць</span></a>
    <a href="/training/all_muscles" class="btn_training btn"><span>М'язи всього тіла</span></a>
</div>